# Auto detect text files and normalize line endings
* text=auto

# Binary assets
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.bmp binary
*.ogg binary
*.mp3 binary
*.wav binary
*.mp4 binary
*.webm binary
*.woff binary
*.woff2 binary
*.asar binary
*.ico binary
